body{
    font-family: Myriad Pro, ;
}
h1{
    font-size: 45px;
    font-weight: bold;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 16px;
}

/* Email and social media icons */
.head-E{
    color: #477838;
}
.header-icons{
    color: #477838;
}