body{
    font-family: Myriad Pro, sans-serif  ;
    font-size: 16px;
}
h1{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    font-weight: bold;
}

/* Email and social media icons */
.con-top{
    padding-top: 20px;
}
.head-E{
    color: #477838;
}
.header-icons{
    color: #477838;
    font-size: 20px;
    padding-left: 20px;
}

/* Logo and navbar */
.logo-head{
    max-width: 360px;
}
.nav-col{
    width: 60.5%;
}
.blog-nav{
    text-align: right;
    padding-top: 20px;
}
.blog-nav>a{
    color: #2d2d2d;
    padding-right: 15px;
    text-decoration: none;
}
.blog-nav>a:hover{
    color: #477838;
}
.btn-col{
    width: 5%;
    padding-right: 0;
}
.don-nav{
    background-color: #2d2d2d;
    font-size: 16px;
    font-family: Myriad Pro;
    color: #477838;
    border-radius: 8px;
    margin-top: 15px;
    border: 0;
    padding: 5px 10px;
}
.don-nav:hover{
    color: #477838;
    text-decoration: none;
}

/*Banner Image*/
.banner-img{
    width: 100%;
    margin-top:30px;
    margin-bottom: 50px;
}

/*Home page widgets*/
.home-col{
    text-align: justify;
    text-align-last: center; 
    margin: 0 auto;
    width: 287px;
    margin-bottom: 50px 
}
.wid-icon{
    font-size: 65px;
    color: #477838;
    margin-left: 140px;
}

/*Team div*/
.team-home{
    background-color: #477838;
}
.team-img{
    max-width: 243px;
    width: 100%;
    margin-left: 60px;
    border-radius: 30px;
}
.team-txt{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px
}
.team-txt-head{
    margin-top: 25px;    
    margin-bottom: 40px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}