body{
    font-family: Myriad Pro ;
    font-size: 16px;
}
h1{
    font-size: 45px;
    font-weight: bold;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    font-weight: bold;
}

/* Email and social media icons */
.con-top{
    padding-top: 20px;
}
.head-E{
    color: #477838;
}
.header-icons{
    color: #477838;
    font-size: 20px;
    padding-left: 20px;
}

/* Logo and navbar */
.logo-head{
    max-width: 360px;
}
.nav-col{
    width: 60.5%;
}
.blog-nav{
    text-align: right;
    padding-top: 20px;
    font-size: 14px;
}
.blog-nav>a{
    color: #2d2d2d;
    padding-right: 15px;
    text-decoration: none;
}
.active, .blog-nav>a:hover{
    color: #477838;
}
.btn-col{
    width: 5%;
    padding-right: 0;
}
.don-nav{
    background-color: #2d2d2d;
    font-size: 16px;
    font-family: Myriad Pro;
    color: #477838;
    border-radius: 8px;
    margin-top: 15px;
    border: 0;
    padding: 5px 10px;
}
.don-nav:hover{
    color: #477838;
    text-decoration: none;
}
.active{
    text-decoration: none;
    padding-right: 15px;
    color: #477838;
}
.active:hover{
    text-decoration: none;
    color: #477838;
}